<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jeden.mapper.MemberMapper">
	
	<insert id="join">
		INSERT INTO MEMBER
		VALUES(#{id}, #{pw}, #{email}, now(), #{name}, #{phone}, #{bday},
				#{adres1}, #{adres2}, #{adres3})
	</insert>
	
 	<select id="login" resultType="jeden.vo.MemberVO">
		SELECT ID, PW, NAME
		FROM MEMBER
		WHERE ID = #{id} AND PW = #{pw}
	</select>
	

	
	
</mapper>